In [1]:
import pandas as pd
import numpy as np 

#Get covid data
covid = pd.read_csv('owid-covid-data.csv')
columns = ['location','date','new_cases','new_deaths']
covid = covid[columns]
covid = covid.rename(columns={'location':'Entity','date':'Day'})
covid.head()

        Entity         Day  new_cases  new_deaths
0  Afghanistan  2020-02-24        5.0         NaN
1  Afghanistan  2020-02-25        0.0         NaN
2  Afghanistan  2020-02-26        0.0         NaN
3  Afghanistan  2020-02-27        0.0         NaN
4  Afghanistan  2020-02-28        0.0         NaN

In [2]:
#Get vaccine data
vaccine = pd.read_csv('daily-covid-vaccination-doses-per-capita.csv')
vaccine = vaccine.drop('Code',1)
vaccine.head()

/var/folders/kq/gz0ckxcs65g46lr7hv0hfh300000gn/T/ipykernel_27113/1009037588.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  vaccine = vaccine.drop('Code',1)

        Entity         Day  new_vaccinations_smoothed_per_million
0  Afghanistan  2021-02-23                                 0.0034
1  Afghanistan  2021-02-24                                 0.0034
2  Afghanistan  2021-02-25                                 0.0034
3  Afghanistan  2021-02-26                                 0.0034
4  Afghanistan  2021-02-27                                 0.0034

In [3]:
#Get government stringency data
stringency = pd.read_csv('covid-stringency-index.csv')
stringency = stringency.drop('Code',1)
stringency.head()

/var/folders/kq/gz0ckxcs65g46lr7hv0hfh300000gn/T/ipykernel_27113/2864522133.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  stringency = stringency.drop('Code',1)

        Entity         Day  stringency_index
0  Afghanistan  2020-01-21               0.0
1  Afghanistan  2020-01-22               0.0
2  Afghanistan  2020-01-23               0.0
3  Afghanistan  2020-01-24               0.0
4  Afghanistan  2020-01-25               0.0

In [4]:
#Get covid containment data
containment = pd.read_csv('covid-containment-and-health-index.csv')
containment = containment.drop('Code',1)
containment.head()

/var/folders/kq/gz0ckxcs65g46lr7hv0hfh300000gn/T/ipykernel_27113/3403837901.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  containment = containment.drop('Code',1)

        Entity         Day  containment_index
0  Afghanistan  2020-01-01                0.0
1  Afghanistan  2020-01-02                0.0
2  Afghanistan  2020-01-03                0.0
3  Afghanistan  2020-01-04                0.0
4  Afghanistan  2020-01-05                0.0

In [5]:
#Get income support data
income = pd.read_csv('income-support-covid.csv')
income = income.drop('Code',1)
income.head()

/var/folders/kq/gz0ckxcs65g46lr7hv0hfh300000gn/T/ipykernel_27113/3240806600.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  income = income.drop('Code',1)

        Entity         Day  income_support
0  Afghanistan  2020-01-01               0
1  Afghanistan  2020-01-02               0
2  Afghanistan  2020-01-03               0
3  Afghanistan  2020-01-04               0
4  Afghanistan  2020-01-05               0

In [6]:
#Get debt relief data
debt = pd.read_csv('debt-relief-covid.csv')
debt = debt.drop('Code',1)
debt.head()

/var/folders/kq/gz0ckxcs65g46lr7hv0hfh300000gn/T/ipykernel_27113/2473225379.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  debt = debt.drop('Code',1)

        Entity         Day  debt_relief
0  Afghanistan  2020-01-01            0
1  Afghanistan  2020-01-02            0
2  Afghanistan  2020-01-03            0
3  Afghanistan  2020-01-04            0
4  Afghanistan  2020-01-05            0

In [7]:
df = pd.concat([debt,income['income_support'],
                containment['containment_index'],
                stringency['stringency_index'],
                vaccine['new_vaccinations_smoothed_per_million'],
               covid['new_cases'],covid['new_deaths']],axis=1)
df=df[df['new_cases'] >= 0].fillna(0)
df=df[df['new_deaths'] >= 0].fillna(0)
df.head()

,Entity,Day,debt_relief,income_support,containment_index,stringency_index,new_vaccinations_smoothed_per_million,new_cases,new_deaths
0,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0034,5.0,0.0
1,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0034,0.0,0.0
2,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0034,0.0,0.0
3,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0034,0.0,0.0
4,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,0.0034,0.0,0.0

In [8]:
df.to_csv('final-project.csv')